@if (Pane?.Key != Key || IsEmpty)
{
    return;
}

<button class="btn btn-block btn-light text-left" type="button" @onclick="@(e => Parent.HandleTabClick(Pane))">
    @if(Pane.IsActive)
    {
        @if(TabExpand==null)
        {
            <span>▼</span>
        }
        else
        {
            @TabExpand
        }
    }
    else
    {
        @if(TabCollpsed==null)
        {
            <span>►</span>
        }
        else
        {
            @TabCollpsed
        }
    }
    <span class="ml-1">@Pane.Tab</span> 
</button>

@if (Pane.IsActive)
{
    @Pane.ChildContent
}