<Modal Visiable="Visiable" DialogBackdropVisiable DialogCentered DialogSizeSmall="@DialogSizeSmall" DialogSizeLarge="@DialogSizeLarge" DialogSizeExtraLarge="@DialogSizeExtraLarge">
    <TitleContent>@Title</TitleContent>
    <HeaderContent>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="Close">
            <span aria-hidden="true">×</span>
        </button>
    </HeaderContent>
    <BodyContent>
        @Content
    </BodyContent>
</Modal>