<div class="@TreeClass">
    <ul class="@TreeUlClass">
        @if (DataSource != null)
        {
            @foreach (var item in DataSource)
            {
                <TreeNode Tree="this" Level="0" DataItem="item" />
            }
        }
    </ul>
</div>
