@using Quick.Fields

<button type="button" class="@ButtonClass" style="@Field.Html_Style" @onclick="OnClick">@Field.Name</button>

@code
{
    [Parameter]
    public FieldForGet Field { get; set; }

    private string ButtonClass => Field.Html_Class ?? "btn btn-primary";
    public void OnClick()
    {
        Field.Value = Field.Value;
    }
}