<div>
    <ToastStack @ref="toastStack" AutoClose="true" />
</div>
<div>
    @if(Fields!=null)
    {
        @foreach (var field in Fields)
        {
            <Control Field="field"></Control>
        }
    }
</div>
<div>
    <ModalAlert @ref="modalAlert" />
</div>