@using Quick.Fields

<div class="@ControlUtils.GetCommonClass(Field, "row")">
    @if (Field.Children != null)
    {
        @foreach (var field in Field.Children)
        {
            <Control Field="field" />
        }
    }
</div>

@code
{
    [Parameter]
    public FieldForGet Field { get; set; }
}