<div>
    <ToastStack @ref="toastStack" AutoClose="true" />
</div>
<div>
    @foreach (var field in Fields)
    {
        <Control Field="field"></Control>
    }
</div>
<div>
    <ModalAlert @ref="modalAlert" />
</div>