@using Test.AspNetCore9.Components.Layout
@inherits ComponentBase_WithGettextSupport;

<h1>Quick.Blazor.Bootstrap</h1>

@TextWelcomeToUseQuickBlazorBootstrap

<SurveyPrompt Title="@TextHowIsBlazorWorkingForYou" />