<Quick.Blazor.Bootstrap.Admin.FileManageControl TextConfirm="确认"
                                           TextSuccess="成功"
                                           TextCanceled="已取消"
                                           TextFailed="失败"
                                           TextConfirmDeleteFolder="确定删除文件夹[{0}]?"
                                           TextConfirmDeleteFile="确定删除文件[{0}]?"
                                           TextInputNewName="请输入[{0}]的新名称"
                                           TextUp="返回上层"
                                           TextNewFolder="创建文件夹"
                                           TextFolderNotExist="文件夹[{0}]不存在"
                                           TextUpload="上传"
                                           TextRefresh="刷新"
                                           TextDownload="下载"
                                           TextRename="重命名"
                                           TextDelete="删除"
                                           TextPath="地址"
                                           TextGoto="转到"
                                           TextCreationTime="创建时间"
                                           TextLastWriteTime="修改时间"
                                           TextSize="大小"
                                           TextName="名称"
                                           TextNewFolderPrompt="请输入新建文件夹的名称"
                                           TextUploadReadFileInfo="正在获取上传文件信息..."
                                           TextUploadFileExist="文件[{0}]已经存在！"
                                           TextUploadFileUploading="正在上传文件[{0}]..."
                                           TextTransferSpeed="传输速度"
                                           TextRemainingTime="剩余时间">
    <IconFolder>
        <span class="oi oi-folder m-1" aria-hidden="true"></span>
    </IconFolder>
    <IconFile>
        <span class="oi oi-file m-1" aria-hidden="true"></span>
    </IconFile>
    <IconUp>
        <span class="oi oi-arrow-top"></span>
    </IconUp>
    <IconNewFolder>
        <span class="oi oi-external-link" aria-hidden="true"></span>
    </IconNewFolder>
    <IconUpload>
        <span class="oi oi-data-transfer-upload"></span>
    </IconUpload>
    <IconRefresh>
        <span class="oi oi-loop-circular"></span>
    </IconRefresh>
    <IconDownload>
        <span class="oi oi-data-transfer-download"></span>
    </IconDownload>
    <IconRename>
        <span class="oi oi-pencil" aria-hidden="true"></span>
    </IconRename>
    <IconDelete>
        <span class="oi oi-trash" aria-hidden="true"></span>
    </IconDelete>
    <IconDisplayList>
        <span class="oi oi-list" aria-hidden="true"></span>
    </IconDisplayList>
    <IconDisplayIcon>
        <span class="oi oi-grid-two-up" aria-hidden="true"></span>
    </IconDisplayIcon>
    <IconGoto>
        <span class="oi oi-arrow-right" aria-hidden="true"></span>
    </IconGoto>
</Quick.Blazor.Bootstrap.Admin.FileManageControl>