@inherits ComponentBase_WithGettextSupport;

<div class="modal-body">
    <EditForm Model="@this" OnValidSubmit="Ok">
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>URL</label>
            <InputText class="form-control" @bind-Value="url" />
            <ValidationMessage For="@(() => url)" />
        </div>
        <button type="submit" class="btn btn-primary col-sm-5 col-md-4 col-lg-2">@TextDownload</button>
    </EditForm>
</div>

<ModalLoading @ref="modalLoading" />
<ModalAlert @ref="modalAlert" />